html, body {
    margin:0;
    padding:0;
    background:rgba(0, 0, 0, 0) linear-gradient(to right, #ff512f, #f09819) repeat scroll 0 0;
}

/* Wrapper of everything */
.wrap-all {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    transition: 1s;
    width:100%;
}

/* Basic wrapper that will be used to wrap the chosen part of site */
.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height:100%;
}
